<html>
     <head>
         <title>It'z my blog</title>
     </head>
     <body>
         <div>
             <h1><a href="">It'z my blog</a></h1>
         </div>

         <div>
             <p>published: 14.06.2014, 12:14</p>
             <h2><a href="">My first post</a></h2>
             <p>El primer elemento div contiene el título de nuestro blog - es un encabezado y un enlace.</p>
         </div>

         <div>
             <p>published: 14.06.2014, 12:14</p>
             <h2><a href="">My second post</a></h2>
             <p>Otros dos elementos div contienen nuestros posts con la fecha de publicación, h2 con un título que es clickeable y dos p (párrafo) de texto, uno para la fecha y uno para nuestro post.</p>
         </div>
     </body>
 </html>
